@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #FAF9F6;
  color: #333;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), 'Playfair Display', serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #FAF9F6;
}

::-webkit-scrollbar-thumb {
  background: #E7646A;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E7646A;
}
